
<p>
  <strong>Group:</strong>
  <%= @group.groupName %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @group.owner %>
</p>
 

 

 
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>